<!DOCTYPE html>
<html>
    <head>
        <script>
            function myFunction() {
                window.open("https://www.jio.com/", "_top");
            }
        </script>
    </head>
    <body>
        <div class = "gfg" onmouseover = "myFunction()">
            .
        </div>
    </body>
</html>
